interactions:
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag
  response:
    body:
      string: '{"id":1384483480,"node_id":"R_kgDOUoWKmA","name":"Miner-Tests-Agents-Rag","full_name":"Icar0S/Miner-Tests-Agents-Rag","private":false,"owner":{"login":"Icar0S","id":39846852,"node_id":"MDQ6VXNlcjM5ODQ2ODUy","avatar_url":"https://avatars.githubusercontent.com/u/39846852?v=4","gravatar_id":"","url":"https://api.github.com/users/Icar0S","html_url":"https://github.com/Icar0S","followers_url":"https://api.github.com/users/Icar0S/followers","following_url":"https://api.github.com/users/Icar0S/following{/other_user}","gists_url":"https://api.github.com/users/Icar0S/gists{/gist_id}","starred_url":"https://api.github.com/users/Icar0S/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Icar0S/subscriptions","organizations_url":"https://api.github.com/users/Icar0S/orgs","repos_url":"https://api.github.com/users/Icar0S/repos","events_url":"https://api.github.com/users/Icar0S/events{/privacy}","received_events_url":"https://api.github.com/users/Icar0S/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/Icar0S/Miner-Tests-Agents-Rag","description":"Miner
        of major technology community repositories, seeking new tools and methods
        for testing LLMs.","fork":true,"url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag","forks_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/forks","keys_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/teams","hooks_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/hooks","issue_events_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/issues/events{/number}","events_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/events","assignees_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/assignees{/user}","branches_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/branches{/branch}","tags_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/tags","blobs_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/git/refs{/sha}","trees_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/statuses/{sha}","languages_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/languages","stargazers_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/stargazers","contributors_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/contributors","subscribers_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/subscribers","subscription_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/subscription","commits_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/commits{/sha}","git_commits_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/git/commits{/sha}","comments_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/comments{/number}","issue_comment_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/issues/comments{/number}","contents_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/contents/{+path}","compare_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/merges","archive_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/downloads","issues_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/issues{/number}","pulls_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/pulls{/number}","milestones_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/milestones{/number}","notifications_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/labels{/name}","releases_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/releases{/id}","deployments_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/deployments","created_at":"2026-09-24T02:35:28Z","updated_at":"2026-09-28T13:44:55Z","pushed_at":"2026-09-28T16:58:23Z","git_url":"git://github.com/Icar0S/Miner-Tests-Agents-Rag.git","ssh_url":"git@github.com:Icar0S/Miner-Tests-Agents-Rag.git","clone_url":"https://github.com/Icar0S/Miner-Tests-Agents-Rag.git","svn_url":"https://github.com/Icar0S/Miner-Tests-Agents-Rag","homepage":null,"size":816,"stargazers_count":1,"watchers_count":1,"language":"Python","has_issues":false,"has_projects":true,"has_downloads":false,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":{"key":"apache-2.0","name":"Apache
        License 2.0","spdx_id":"Apache-2.0","url":"https://api.github.com/licenses/apache-2.0","node_id":"MDc6TGljZW5zZTI="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":0,"open_issues":1,"watchers":1,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","parent":{"id":1356316778,"node_id":"R_kgDOUNfAag","name":"Miner-Tests-Agents-Rag","full_name":"MatheusLimaZz/Miner-Tests-Agents-Rag","private":false,"owner":{"login":"MatheusLimaZz","id":96640614,"node_id":"U_kgDOBcKeZg","avatar_url":"https://avatars.githubusercontent.com/u/96640614?v=4","gravatar_id":"","url":"https://api.github.com/users/MatheusLimaZz","html_url":"https://github.com/MatheusLimaZz","followers_url":"https://api.github.com/users/MatheusLimaZz/followers","following_url":"https://api.githu[...]
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/git/trees/main?recursive=1
  response:
    body:
      string: '{"sha":"bdd008e89e5cbd44c7ce28467caa0899d7291403","url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/git/trees/bdd008e89e5cbd44c7ce28467caa0899d7291403","tree":[{"path":".dockerignore","mode":"100644","type":"blob","sha":"66cf8dd6b2534ce90ceac812cf417a27f0e97b7f","size":124,"url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/git/blobs/66cf8dd6b2534ce90ceac812cf417a27f0e97b7f"},{"path":".env.example","mode":"100644","type":"blob","sha":"2ac339eb7ca859b93af0807b9c1261006facc28d","size":392,"url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/git/blobs/2ac339eb7ca859b93af0807b9c1261006facc28d"},{"path":".github","mode":"040000","type":"tree","sha":"13e2ea3283d[...]
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/contents/.github/workflows/ci.yml?ref=main
  response:
    body:
      string: '{"name":"ci.yml","path":".github/workflows/ci.yml","sha":"2d0db2f79400ef4732e0c43f8f26cea970f81a75","size":1127,"url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/contents/.github/workflows/ci.yml?ref=main","html_url":"https://github.com/Icar0S/Miner-Tests-Agents-Rag/blob/main/.github/workflows/ci.yml","git_url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/git/blobs/2d0db2f79400ef4732e0c43f8f26cea970f81a75","download_url":"https://raw.githubusercontent.com/Icar0S/Miner-Tests-Agents-Rag/main/.github/workflows/ci.yml","type":"file","content":"bmFtZTogQ0kKCm9uOgogIHB1c2g6CiAgICBicmFuY2hlczogW21haW5dCiAg\ncHVsbF9yZXF1ZXN0OgogICAgYnJhbmNoZXM6IFttYWluXQogIHdvcmtmbG93\nX2Rpc3BhdGNoOgoKam9iczoKICB0ZXN0OgogICAgbmFtZTogTGludCwgVGVz\ndCAmIFZhbGlkYXRlCiAgICBydW5zLW9uOiB1YnVudHUtbGF0ZXN0CiAgICBz\ndHJhdGVneToKICAgICAgbWF0cml4OgogICAgICAgIHB5dGhvbi12ZXJzaW9u\nOiBbIjMuMTEiLCAiMy4xMiJdCgogICAgc3RlcHM6CiAgICAgIC0gbmFtZTog\nQ2hlY2tvdXQgcmVwb3NpdG9yeQogICAgICAgIHVzZXM6IGFjdGlvbnMvY2hl\nY2tvdXRAdjQKCiAgICAgIC0gbmFtZTogU2V0IHVwIFB5dGhvbiAke3sgbWF0\ncml[...]
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/contents/pyproject.toml?ref=main
  response:
    body:
      string: '{"name":"pyproject.toml","path":"pyproject.toml","sha":"4d814c190267691b88c725cb6dcbf4f6ea7a22e8","size":1835,"url":"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/contents/pyproject.toml?ref=main","html_url":"https://github.com/Icar0S/Miner-Tests-[...]
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/contributors?anon=true&per_page=1
  response:
    body:
      string: '[{"login":"MatheusLimaZz","id":96640614,"node_id":"U_kgDOBcKeZg","avatar_url":"https://avatars.githubusercontent.com/u/96640614?v=4","gravatar_id":"","url":"https://api.github.com/users/MatheusLimaZz","html_url":"https://github.com/MatheusLimaZz","followers_url":"https://api.github.com/users/MatheusLimaZz/followers","following_url":"https://api.github.com/users/MatheusLimaZz/following{/other_user}","gists_url":"https://api.github.com/users/MatheusLimaZz/gists{/gist_id}","starred_url":"https://api.github.com/users/MatheusLimaZz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MatheusLimaZz/subscriptions","organizations_url":"https://api.github.com/users/MatheusLimaZz/orgs","repos_url":"https://api.github.com/users/MatheusLimaZz/repos","events_url":"https://api.github.com/users/MatheusLimaZz/events{/privacy}","received_events_url":"https://api.github.com/users/MatheusLimaZz/received_events","type":"User","user_view_type":"public","site_admin":false,"contributions":37}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f364f0956a450b61bcf109cf592244e6ee96696a4577d01a307f207ec541cc26"
      Github-Authentication-Token-Expiration:
      - 2026-09-28 19:00:30 UTC
      Last-Modified:
      - Mon, 28 Sep 2026 13:44:55 GMT
      Link:
      - <https://api.github.com/repositories/1384483480/contributors?per_page=1&anon=true&page=2>;
        rel="next", <https://api.github.com/repositories/1384483480/contributors?per_page=1&anon=true&page=3>;
        rel="last"
      X-Accepted-Github-Permissions:
      - metadata=read
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Github-Edge-Region:
      - iad
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Client-Id:
      - Iv23liqTIFEtdIu6Vn1r
      X-Ratelimit-Limit:
      - '15000'
      X-Ratelimit-Remaining:
      - '14977'
      X-Ratelimit-Reset:
      - '1790615570'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '23'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      x-github-api-version:
      - '2022-11-28'
    method: GET
    uri: https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/commits?page=1&per_page=100&since=2026-09-01T00%3A00%3A00Z&until=2026-09-27T23%3A59%3A59Z
  response:
    body:
      string: "[{\"sha\":\"94aa27f235e3c211ee835b7a45e70eabe607f051\",\"node_id\"\
        :\"C_kwDOUoWKmNoAKDk0YWEyN2YyMzVlM2MyMTFlZTgzNWI3YTQ1ZTcwZWFiZTYwN2YwNTE\"\
        ,\"commit\":{\"author\":{\"name\":\"Jo\xE3o Matheus\",\"email\":\"joaomatheusvoid@gmail.com\"\
        ,\"date\":\"2026-09-22T21:27:48Z\"},\"committer\":{\"name\":\"Jo\xE3o Matheus\"\
        ,\"email\":\"joaomatheusvoid@gmail.com\",\"date\":\"2026-09-22T21:27:48Z\"\
        },\"message\":\"fix(docker): install msrkit with editable flag (-e) in Dockerfile\"\
        ,\"tree\":{\"sha\":\"2eff64efe0a6a0c737188a631dcf042ecde624f6\",\"url\":\"\
        https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/git/trees/2eff64efe0a6a0c737188a631dcf042ecde624f6\"\
        },\"url\":\"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/git/commits/94aa27f235e3c211ee835b7a45e70eabe607f051\"\
        ,\"comment_count\":0,\"verification\":{\"verified\":false,\"reason\":\"unsigned\"\
        ,\"signature\":null,\"payload\":null,\"verified_at\":null}},\"url\":\"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/commits/94aa27f235e3c211ee835b7a45e70eabe607f051\"\
        ,\"html_url\":\"https://github.com/Icar0S/Miner-Tests-Agents-Rag/commit/94aa27f235e3c211ee835b7a45e70eabe607f051\"\
        ,\"comments_url\":\"https://api.github.com/repos/Icar0S/Miner-Tests-Agents-Rag/commits/94aa27f235e3c211ee835b7a45e70eabe607f051/comments\"\
        ,\"author\":{\"login\":\"MatheusLimaZz\",\"id\":96640614,\"node_id\":\"U_kgDOBcKeZg\"\
     [...]
